:root {
  --primary: #73B2D9;
  --secondary: #C4EEF2;
  --tertiary: #537BC3;
  --alt: #8BCAD9;
  --alt2: #5E88BF;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout styles start*/
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--tertiary);
}

nav a{
  margin: .5rem;
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary);
}

nav a:hover {
  border-radius: .5rem;
  color: var(--tertiary);
  background-color: var(--secondary);
}

.home {
  display: flex;
  height: 100vh;
}

.home-desc {
  flex: 1;
  display: flex;
  align-items: center;
  /* background-color: yellow; */
}

.home-desc-con {
  margin: 1rem;
}

.title {
  color: var(--primary);
}

.details {
  color: var(--secondary);
}

.home-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
}

.home-img img{
  width: 80%;
}